<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8WSeIBK2zUpUcvFddTKjna05S2iR6LeY</string>
	<key>GCM_SENDER_ID</key>
	<string>71130243032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firstcalendar.medfare.firstcalendar</string>
	<key>PROJECT_ID</key>
	<string>firstcalendar-41000</string>
	<key>STORAGE_BUCKET</key>
	<string>firstcalendar-41000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71130243032:ios:96c2a4e76655140bfe5cad</string>
</dict>
</plist>